@import "./_kontext.scss";
@import "bootstrap/scss/bootstrap";

.header-primary {
    margin-bottom: $spacer;
    height: $kontext-header-height;
    max-height: $kontext-header-height;
}

.header-secondary {
    margin-bottom: $spacer;
    height: $kontext-header-height;
    max-height: $kontext-header-height;
    padding-top: $spacer;
    margin-top: calc(-1 * $spacer);
}

/*Full width for offcans for vw <=md*/
.offcanvas-md {
    @include media-breakpoint-down(md) {
        width: 100vw !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}

/*Layout related*/

.sidebar-col {
    width: var(--#{$variable-prefix}sidebar-width, $kontext-sidebar-width) !important;
    min-width: var(--#{$variable-prefix}sidebar-width, $kontext-sidebar-width) !important;
    max-width: var(--#{$variable-prefix}sidebar-width, $kontext-sidebar-width) !important;

    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.main-col {
    width: 100%;

    @include media-breakpoint-up(md) {
        width: calc(100vw - #{$kontext-sidebar-width});
    }

}

/*Rounded circle*/
.rounded-circle {
    width: $kontext-rounded-circle-size;
    height: $kontext-rounded-circle-size;
    line-height: $kontext-rounded-circle-size;
    text-align: center;
    justify-content: center;
}