{
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "extends": [
        "plugin:vue/vue3-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-console": "error",
        "no-debugger": "warn",
        "vue/no-multiple-template-root": "on",
        "vue/no-v-model-argument": "on",
        "vue/no-v-for-template-key": "on"
    }
}
